In [94]:
import pandas as pd
import numpy as np

In [95]:
movie = pd.read_csv('movie.csv')
rating = pd.read_csv('rating.csv')

In [3]:
movie.shape

(27278, 3)

In [59]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating.shape

(20000263, 4)

In [5]:
rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [7]:
rating['userId'].nunique()

138493

In [96]:
# drop users with less than 500 movie ratings
rating_copy = rating.copy()
counts = rating_copy['userId'].value_counts()

val_drop = counts[(counts < 500)].index

df_filtered = test[~test['userId'].isin(val_drop)]
df_filtered.shape

(6579416, 4)

In [97]:
df_filtered['userId'].value_counts()

userId
118205    9254
8405      7515
82418     5646
121535    5520
125794    5491
          ...
45811      500
32844      500
63958      500
63094      500
134897     500
Name: count, Length: 7491, dtype: int64

In [98]:
# drop users with over 5000 movie ratings
counts2 = df_filtered['userId'].value_counts()
val_drop2 = counts2[(counts2 > 5000)].index

df_filtered = df_filtered[~df_filtered['userId'].isin(val_drop2)]
df_filtered.shape

(6524688, 4)

In [99]:
# drop 1/4 of users randomly
np.random.seed(0)

# Get a list of unique users
unique_users = df_filtered['userId'].unique()

# Randomly select half of the users
users_to_keep = np.random.choice(unique_users, size=int(len(unique_users)/4), replace=False)

# Keep only the randomly selected users in the DataFrame
df_filtered = df_filtered[df_filtered['userId'].isin(users_to_keep)]

df_filtered.shape

(1627684, 4)

In [100]:
# drop movies with less than or 150 ratings
count_movies = df_filtered['movieId'].value_counts()

values_to_drop = count_movies[count_movies <= 150].index

df_filtered = df_filtered[~df_filtered['movieId'].isin(values_to_drop)]

df_filtered.shape

(1259828, 4)

In [101]:
# drop 1/3 of the movies randomly
np.random.seed(0)

# Get a list of unique users
unique_movies = df_filtered['movieId'].unique()

# Randomly select half of the users
movies_to_keep = np.random.choice(unique_movies, size=int(len(unique_movies)/3), replace=False)

# Keep only the randomly selected users in the DataFrame
df_filtered = df_filtered[df_filtered['movieId'].isin(movies_to_keep)]

df_filtered.shape

(411184, 4)

In [102]:
df_filtered.head()

      userId  movieId  rating            timestamp
2538      24        5     2.0  2001-07-04 08:00:49
2541      24       10     3.0  2001-07-14 07:57:24
2543      24       18     5.0  2001-07-04 07:53:09
2546      24       25     5.0  2001-07-04 07:02:53
2547      24       32     4.0  2001-07-01 07:25:04

In [103]:
# drop movies that aren't used anymore
df_movies_filtered = movie[movie['movieId'].isin(df_filtered['movieId'])]
df_movies_filtered.shape

(913, 3)

In [106]:
# print different users and movies
print(df_filtered['userId'].nunique(), " users in dataset")
print(df_filtered['movieId'].nunique(), " movies in dataset")

1870  users in dataset
913  movies in dataset

In [107]:
# save datasets
df_filtered5.to_csv('rating_small.csv', index=False)
df_movies_filtered.to_csv('movie_small.csv', index=False)