In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('user_movie_ratings.csv')
df.head()

   userID    movieID  rating
0  user_0  tt0069515     3.4
1  user_0  tt0464913     3.5
2  user_0  tt0168371     2.7
3  user_0  tt0946642     2.5
4  user_0  tt0283534     3.5

In [3]:
df_users = df.copy()

In [4]:
df_users.shape

(271407, 3)

In [5]:
df_users.isna().sum()

userID     0
movieID    0
rating     0
dtype: int64

=> no NaN

In [6]:
sorted(df_users['rating'].unique())

[1.0,
 1.1,
 1.2,
 1.2000000000000002,
 1.2999999999999998,
 1.3,
 1.3000000000000005,
 1.4,
 1.4999999999999998,
 1.5,
 1.5000000000000002,
 1.6,
 1.6999999999999995,
 1.7,
 1.7000000000000002,
 1.7999999999999998,
 1.8,
 1.8000000000000005,
 1.9,
 2.0,
 2.1,
 2.2,
 2.3,
 2.3000000000000003,
 2.4,
 2.4000000000000004,
 2.5,
 2.6,
 2.7,
 2.8,
 2.8000000000000003,
 2.9,
 2.9000000000000004,
 3.0,
 3.1,
 3.2,
 3.3,
 3.3000000000000003,
 3.3999999999999995,
 3.4,
 3.4000000000000004,
 3.5,
 3.5000000000000004,
 3.6,
 3.6000000000000005,
 3.7,
 3.8,
 3.9,
 4.0,
 4.1,
 4.1000000000000005,
 4.199999999999999,
 4.2,
 4.3,
 4.300000000000001,
 4.4,
 4.5,
 4.6,
 4.6000000000000005,
 4.699999999999999,
 4.7,
 4.8,
 4.800000000000001,
 4.9,
 5.0,
 5.1,
 5.1000000000000005,
 5.199999999999999,
 5.2,
 5.3,
 5.300000000000001,
 5.4,
 5.5,
 5.6,
 5.6000000000000005,
 5.699999999999999,
 5.7,
 5.8,
 5.800000000000001,
 5.9,
 6.0,
 6.1,
 6.1000000000000005,
 6.199999999999999,
 6.2,
 6.3,
 6.300000000000001,
 6.4,
 6.5,
 6.6,
 6.6000000000000005,
 6.699999999999999,
 6.7,
 6.8,
 6.800000000000001,
 6.9,
 7.0,
 7.1,
 7.1000000000000005,
 7.199999999999999,
 7.2,
 7.299999999999999,
 7.3,
 7.300000000000001,
 7.399999999999999,
 7.4,
 7.499999999999999,
 7.5,
 7.500000000000001,
 7.6,
 7.699999999999999,
 7.7,
 7.700000000000001,
 7.799999999999999,
 7.8,
 7.800000000000001,
 7.899999999999999,
 7.9,
 7.999999999999999,
 8.0,
 8.1,
 8.100000000000001,
 8.2,
 8.200000000000001,
 8.299999999999999,
 8.3,
 8.399999999999999,
 8.4,
 8.5,
 8.6,
 8.600000000000001,
 8.7,
 8.700000000000001,
 8.799999999999999,
 8.8,
 8.899999999999999,
 8.9,
 9.0,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 9.7,
 9.8,
 9.9,
 10.0]

In [7]:
# ratings should be between 1-10 and only have 1 decimal

# round the rating column to one decimal
df_users['rating'] = df_users['rating'].round(1)
sorted(df_users['rating'].unique())

[1.0,
 1.1,
 1.2,
 1.3,
 1.4,
 1.5,
 1.6,
 1.7,
 1.8,
 1.9,
 2.0,
 2.1,
 2.2,
 2.3,
 2.4,
 2.5,
 2.6,
 2.7,
 2.8,
 2.9,
 3.0,
 3.1,
 3.2,
 3.3,
 3.4,
 3.5,
 3.6,
 3.7,
 3.8,
 3.9,
 4.0,
 4.1,
 4.2,
 4.3,
 4.4,
 4.5,
 4.6,
 4.7,
 4.8,
 4.9,
 5.0,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 5.7,
 5.8,
 5.9,
 6.0,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 6.7,
 6.8,
 6.9,
 7.0,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 7.7,
 7.8,
 7.9,
 8.0,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 8.7,
 8.8,
 8.9,
 9.0,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 9.7,
 9.8,
 9.9,
 10.0]

In [8]:
df_users['rating'].value_counts()

rating
1.0     7235
10.0    7142
6.6     3155
6.0     3140
2.9     3128
        ...
1.3     2103
9.8     2092
1.2     2006
1.1     1907
9.9     1884
Name: count, Length: 91, dtype: int64

In [9]:
# a lot of movies are rated 1.0 or 10.0 so I'll change 2000 values each
# 1.0
indices = df_users[df_users['rating'] == 1.0].index
indices_change = np.random.choice(indices, 2000, replace = False)
new_rating = np.random.choice([1.1, 1.2, 1.3], 2000)
df_users.loc[indices_change, 'rating'] = new_rating

# 10.0
indices2 = df_users[df_users['rating'] == 10.0].index
indices_change2 = np.random.choice(indices2, 2000, replace = False)
new_rating2 = np.random.choice([9.9, 9.8, 9.7], 2000)
df_users.loc[indices_change2, 'rating'] = new_rating2

In [10]:
df_users['rating'].value_counts()

rating
1.0     5235
10.0    5142
6.6     3155
6.0     3140
2.9     3128
        ...
9.4     2522
1.5     2435
9.5     2395
1.4     2244
9.6     2224
Name: count, Length: 91, dtype: int64